<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

    <menuitem name="menu-pizza-root" title="Pizza Planet" icon="fa-cutlery" icon-background="orange"/>

    <menuitem name="menu-pizza-pizzaList" title="Pizzas" parent="menu-pizza-root" action="action.pizza.view.all"/>
    <menuitem name="menu-pizza-vegePizzaList" title="Vegetarian pizzas" parent="menu-pizza-root" action="action.pizza.view.vege"/>

    <menuitem name="menu-pizza-customPizza" title="Customize your pizza" parent="menu-pizza-root"/>

    <menuitem name="menu-pizza-create" title="Create your own" parent="menu-pizza-customPizza" action="action.pizza.create" order="0"/>
    <menuitem name="menu-pizza-toppings" title="Our pizza toppings" parent="menu-pizza-customPizza" action="action.topping.view.all" order="1"/>
    <menuitem name="menu-pizza-bases" title="Our pizza bases" parent="menu-pizza-customPizza" action="action.base.view.all" order="2"/>
    <menuitem name="menu-pizza-sauces" title="Our pizza sauces" parent="menu-pizza-customPizza" action="action.sauce.view.all" order="3"/>


    <action-view name="action.pizza.view.all" title="Our pizzas" model="com.axelor.pizza.db.Pizza">
        <view type="cards" name="pizza-card"/>
        <view type="grid" name="pizza-grid"/>
    </action-view>
    <action-view name="action.pizza.view.vege" title="Our vegetarian pizzas" model="com.axelor.pizza.db.Pizza">
        <view type="cards" name="pizza-card"/>
        <view type="grid" name="pizza-grid"/>
        <domain>self.isVegetarian = true</domain>
    </action-view>

    <action-view name="action.pizza.create" title="Pizza maker" model="com.axelor.pizza.db.Pizza">
        <view type="form" name="pizza-form"/>
    </action-view>

    <action-view name="action.topping.view.all" title="Our pizza toppings" model="com.axelor.pizza.db.Topping">
        <view type="grid" name="topping-grid"/>
        <view type="form" name="topping-form"/>
    </action-view>

    <action-view name="action.base.view.all" title="Our pizza bases" model="com.axelor.pizza.db.Base">
        <view type="grid" name="base-grid"/>
        <view type="form" name="base-form"/>
    </action-view>

    <action-view name="action.sauce.view.all" title="Our pizza sauces" model="com.axelor.pizza.db.Sauce">
        <view type="grid" name="sauce-grid"/>
        <view type="form" name="sauce-form"/>
    </action-view>

</object-views>
