<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

    <menuitem name="menu-meteo-france-root" title="Meteo France" icon="fa-sun-o" icon-background="lightblue"/>

    <menuitem name="menu-mf-api-root" title="Requête API" parent="menu-meteo-france-root" icon="fa-tasks" order="0"/>
    
    <menuitem name="menu-mf-api-request" title="Faire une reqête API" parent="menu-mf-api-root" action="action.mf.api.request" icon="fa-cloud-upload" order="0"/>
    <menuitem name="menu-mf-api-list" title="Voir les reqêtes faites" parent="menu-mf-api-root" action="action.mf.api.view.all" icon="fa-list-alt" order="1"/>
    
    <action-view name="action.mf.api.request" title="Faire une requête à Meteo France" model="com.axelor.meteo.db.ApiRequest">
        <view type="form" name="api-form"/>
    </action-view>
    <action-view name="action.mf.api.view.all" title="Liste des reqêtes effectuées" model="com.axelor.meteo.db.ApiRequest">
        <view type="grid" name="api-grid"/>
    </action-view>
    
    <menuitem name="menu-mf-db-root" title="Données locale" parent="menu-meteo-france-root" icon="fa-database" order="1"/>

    <menuitem name="menu-mf-db-communes" title="Liste des communes" parent="menu-mf-db-root" action="action.mf.communes.view.all" icon="fa-map-signs" order="0"/>
    <menuitem name="menu-mf-db-departements" title="Liste des departements" parent="menu-mf-db-root" action="action.mf.departements.view.all" icon="fa-map" order="1"/>
    <menuitem name="menu-mf-db-regions" title="Liste des regions" parent="menu-mf-db-root"  action="action.mf.regions.view.all" icon="fa-globe" order="2"/>

    <action-view name="action.mf.communes.view.all" title="Les communes de France" model="com.axelor.meteo.db.Commune">
        <view type="grid" name="commune-grid"/>
    </action-view>
    <action-view name="action.mf.departements.view.all" title="Les departements de France" model="com.axelor.meteo.db.Departement">
        <view type="grid" name="departement-grid"/>
    </action-view>
    <action-view name="action.mf.regions.view.all" title="Les regions de France" model="com.axelor.meteo.db.Region">
        <view type="grid" name="region-grid"/>
    </action-view>

</object-views>
