<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

    <menuitem name="menu-photo-album-root" title="Albums Photo" icon="fa-camera-retro" icon-background="lightgreen"/>
    
    <menuitem name="menu-photo-album-albums" title="Albums" parent="menu-photo-album-root" action="action.photoalbum.albums.view.all" icon="fa-book" order="0"/>
    <menuitem name="menu-photo-album-add-album" title="Créer un album" parent="menu-photo-album-root" action="action.photoalbum.albums.add" icon="fa-plus-square" order="1"/>
    <menuitem name="menu-photo-album-photos" title="Photos" parent="menu-photo-album-root" action="action.photoalbum.photos.view.all" icon="fa-picture-o" order="2"/>
    <!-- <menuitem name="menu-photo-album-add-photo" title="Upload une photo" parent="menu-photo-album-root" action="action.photoalbum.photos.add" icon="fa-upload" order="3"/> -->

    <action-view name="action.photoalbum.albums.view.all" title="Tout les albums" model="com.axelor.photoalbum.db.Album">
        <view type="grid" name="album-grid"/>
    </action-view>
    <action-view name="action.photoalbum.albums.add" title="Créer un album" model="com.axelor.photoalbum.db.Album">
        <view type="form" name="album-form"/>
    </action-view>
    <action-view name="action.photoalbum.photos.view.all" title="Toutes les photos" model="com.axelor.photoalbum.db.Photo">
        <view type="grid" name="photo-grid"/>
    </action-view>
    <!-- <action-view name="action.photoalbum.photos.add" title="Mettre une photo en ligne" model="com.axelor.photoalbum.db.Photo">
        <view type="form" name="photo-form"/>
    </action-view> -->
</object-views>
